body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Dark background color */
    color: #fff; /* Light text color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
a {
    display: inline-block;
    background-color: #007bff; /* Blue link color */
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}
a:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.container {
    text-align: center;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}
.toggle-theme {
    position: absolute;
    top: 4%;
    right: 4%;
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.company-logo {
    max-width: 80%;
    margin-bottom: 40px;
}
.company-name {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}
.toggle-theme:hover {
    background-color: #0e7eb7;
}

.developer {
    color: #38ff9c;
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic; /* Make it italic */
    font-weight: bold; /* Make it bold */
    animation: fadeInUp 1s ease; /* Apply animation */
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}